name: Code Quality

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 * * 4"

jobs:
  code-quality:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-14, macos-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout Latest V
        uses: actions/checkout@v6
        with:
          repository: vlang/v
          path: v

      - name: Checkout the XLSX module
        uses: actions/checkout@v6
        with:
          path: xlsx

      - name: Build V
        run: |
          cd v && make
          ./v symlink -githubci && git clone ../xlsx/ ~/.vmodules/xlsx

      - name: Run tests
        run: cd xlsx && v test .

      - name: Ensure code is formatted
        run: cd xlsx && v fmt -verify .

      - name: Ensure documentation is OK
        run: cd xlsx && v check-md .

      - name: Ensure all examples compile
        run: cd xlsx && v should-compile-all examples/

      - name: Ensure marks example, can run from an arbitrary working folder
        run: xlsx/examples/01_marksheet/marks
