name: Code Quality

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "0 0 * * 4"

jobs:
  code-quality:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-14, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}

    steps:
      - name: Setup V
        uses: vlang/setup-v@v1.4
        with:
          check-latest: true

      - name: Checkout XLSX module
        uses: actions/checkout@v6
        with:
          path: xlsx

      - name: Install module (Unix)
        if: runner.os != 'Windows'
        run: |
          mkdir -p ~/.vmodules
          ln -s ${{ github.workspace }}/xlsx ~/.vmodules/xlsx

      - name: Install module (Windows)
        if: runner.os == 'Windows'
        shell: pwsh
        run: |
          $vmodulesPath = "$env:USERPROFILE\.vmodules"
          New-Item -ItemType Directory -Force -Path $vmodulesPath | Out-Null
          cmd /c mklink /D "$vmodulesPath\xlsx" "${{ github.workspace }}\xlsx"

      - name: Run tests
        run: cd xlsx && v test .

      - name: Ensure code is formatted
        run: cd xlsx && v fmt -verify .

      - name: Ensure documentation is OK
        run: cd xlsx && v check-md .

      - name: Ensure all examples compile
        run: cd xlsx && v should-compile-all examples/

      - name: Run marks example
        working-directory: xlsx
        run: v run examples/01_marksheet/marks.v
